<% detail = JSON.parse((Tmdb::Movie.detail(params[:id])).to_json) %>
  <div class="container">
    <div class="row">
      <div class="col-4">
     
        <%if detail['table']['poster_path'].present?%>
          <%= image_tag 'https://image.tmdb.org/t/p/w1280' + detail['table']['poster_path'], class: "image" %>
        <%end%>
        <%if detail['table']['title'].present?%>
          <h4><%= detail['table']['title'] %></h4>
        <%end%>
        
        
        <% array = [] %>
        <% @reviews.each do |r| %>
          <% if r.movie.tmdb == @movieinfo["table"]["id"] %>
            <% array << r.rate %>
          <% end %>
        <% end %>
        <% unless array.empty? %>
        <h2>平均<%= (array.sum / array.count).round(2).to_f %>点</h2>
      <% end %>
      
      </div>
      
      <div class="col-8">
        <%if detail['table']['overview'].present?%>
          <%= detail['table']['overview'] %>
        <%end%>
    
        <%= form_with model: @review, local: true do |f| %>
          <div id="evaluate_stars">
            <%= f.hidden_field :rate, id: :evaluate_stars %>
            <label>評価</label>
          </div>
          <script>
             $('#evaluate_stars').raty({
              half: true,
              starOn: "<%= asset_path('star-on.png') %>",
              starOff: "<%= asset_path('star-off.png') %>",
              starHalf: "<%= asset_path('star-half.png') %>",
              scoreName: 'review[rate]' 
            }); 
          </script>

          <%= f.text_field :title %>
          <%= f.text_area :body %>
          <%= f.submit %>
          <% end %>
      </div>
    </div>



  <div class="row">
    <div class="offset-3 col-6">
      <% Movie.all.each do |m| %>
        <% if m.tmdb == @movieinfo["table"]["id"] %>
        <% m.reviews.each do |r| %>
          <%= r.user.name %>
          <%= link_to r.title, review_path(r.id) %>
          <%= r.body %>
        <% end %>
      <% end %>
      <% end %>
    </div>
  </div>
</div>



 <h2><% if current_user.already_liked?(@like_movie) %>
  <%= link_to "取り消し", destroy_like_path(@like_movie), method: :DELETE%>
<% else %>
  <%= link_to '保存', create_like_path(@like_movie), method: :POST %>
<% end %></h2>


Copyright（c）2015 18Months Srl